:root {
  --dark-section-text: #F2F2F2;
  --primary-accent: #EB5757;
  --primary-accent-border: #FAFAFA;

  --secondary-accent-border: red;
  --secondary-accent: red;

  --sm-w: 600px;
  --md-w: 900px;
  --lg-w: 1200px;
  --xl-w: 1800px;
}

body {
  /* background-color: #7e7e7e; */
  font-family: "Roboto";
  margin: 0;
}
/* .section-wrapper {
  max-width: 990px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
button {
  background: transparent;
  border: none;
  padding: 21px 32px;
}
button.btn_primary {
  background: var(--primary-accent);
  border: 1px solid var(--primary-border);
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  color: var(--dark-section-text);
}
button.btn_secondary {
  border: 1px solid var(--secondary-border);
  background: rgba(255, 255, 255, 0.72);
  box-sizing: border-box;
  font-size: 18px;
  color: #4A4A4A;
}
*/
.utp {
  background: url(/assets/utp-bg.jpg) 70% 50%;
  height: 800px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.header .contacts {
  display: flex;
  flex-direction: column;
}
.header .contacts a {
  color: var(--dark-section-text);
  font-size: 18px;
}

.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav__list .item:not(:last-child) {
  margin-right: 10px;
}
.nav__list .item a {
  border: 1px solid red;
  padding: 10px 10px;
  text-decoration: none;
  color: var(--dark-section-text);
}

/*.utp__content {
  line-height: 1.3;
  margin-top: 90px;
  color: var(--dark-section-text);
}
.utp__title .lvl1 {
  font-size: 72px;
  letter-spacing: 3px;
}
.utp__title .lvl2 {
  font-size: 32px;
  letter-spacing: 3px;
}
.utp__title .lvl3 {
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 2px;
}

.utp__buttons {
  margin-top: 45px;
}

.utp__buttons .btn_primary {
  margin-right: 20px;
} */

@media (max-width: 600px) {
  .menu_icon {
    display: block;
    position: relative;
    box-sizing: border-box;
    border: 1px solid green;
    width: 40px;
    height: 40px;
    padding: 7px 0 0;
    border-radius: 8px;
  }
  .menu_icon .menu_line {
    display: block;
    margin: 5px auto;
    height: 2px;
    width: 80%;
    border-radius: 1px;
    background-color: greenyellow;
  }
  .utp {
    background: url(/assets/utp-bg-600w.jpg) no-repeat;
    height: 800px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .header {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
  .logo {
    grid-column: 1;
    grid-row: 1;
  }
  .navigation {
    /* position: relative; */
    grid-column: 3;
    grid-row: 1;
    width: 40px;
  }
  .contacts{
    grid-column: 2;
    grid-row: 1;
  }

  .header .contacts a {
    font-size: 16px;
    font-weight: 400;
  }
  .nav__list {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
  }
  .nav__list .nav__item a {
    display: block;
    box-sizing: border-box;
    width: 100vw;
  }
  .navigation ul.close {
    transform: translateX(100%);
  }
  .navigation ul {
    position: absolute;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    padding: 3px 0;
    transition: transform 1s ease-in-out;
    transition-duration: 300ms;
  }
  .navigation .nav__item {
    min-height: 42px;
    margin-top: -2px;
  }
}
@media (max-width: 900px) {}
@media (max-width: 1200px) {}
@media (max-width: 1800px) {}