.mobile-hidden {
  display: none!important;
}

body.popuped,
body.nav__menu-opened {
  overflow: hidden;
}

.content {
  max-width: 375px;
  margin: auto;
}

.menu_icon {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 7px 0 0;
  border: 1px solid var(--primary-default);
  border-radius: 8px;
}

.menu_line {
  display: block;
  margin: 5px auto;
  height: 2px;
  width: 80%;
  border-radius: 1px;
  background-color: var(--primary-default);
}

.nav__list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 20px;
  background-color: var(--gray6);
  box-shadow: 4px 0 20px 5px black;
  transition: transform 150ms ease-in-out;
}

.nav__list.closed {
  transform: translateY(-100%) rotateY(1.2rad);
}

.nav__item {
  display: block;
  box-sizing: border-box;
  min-height: 42px;
  margin-top: 7px;
  border-bottom: 1px solid var(--dark1);
  text-align: center;
}

.nav__close {
  margin-bottom: 30px;
}
.nav__close-icon {
  position: relative;
  display: block;
  height: 42px;
  width: 42px;
  margin: 0 auto;
  border: 1px solid var(--dark1);
  border-radius: 50%;
}

.nav__close-line1,
.nav__close-line2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: var(--dark1);
}

.nav__close-line1 {
  transform: translate(-50%) rotate(45deg);
}

.nav__close-line2 {
  transform: translate(-50%) rotate(-45deg);
}

.nav__link {
  display: block;
  box-sizing: border-box;
  padding: 10px 10px;
  width: 100%;
  text-decoration: none;
  color: var(--default-text-color);
}

.header {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.logo {
  grid-column: 1;
  grid-row: 1;
}

.navigation {
  grid-column: 3;
  grid-row: 1;
  width: 40px;
}

.header__contacts {
  grid-column: 2;
  grid-row: 1;
}

.header__contacts a {
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-section-text);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  background-color: #0d0405cc;
}

.header .contacts {
  display: flex;
  flex-direction: column;
}

.header .contacts a {
  color: var(--dark-section-text);
  font-size: 18px;
}


/* utp */
.utp {
  --utp-padding: 0 10px 45px;
}

.utp__company {
  --utp_company_margin: 20px 0 60px;
  --utp_company_font-size: 14px;
}

.utp__title {
  color: var(--dark-section-text);
  text-shadow: 0 0px 15px black;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.9px;
}

.utp__title__lvl1 {
  font-size: 24px;
  font-weight: 700;
}

.utp__title__lvl2 {
  font-size: 16px;
}

.utp__title__lvl3 {
  font-size: 14px;
  font-weight: 500;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.logo {
  grid-column: 1;
  grid-row: 1;
}

.contacts {
  grid-column: 2;
  grid-row: 1;
}

.header .contacts a {
  font-size: 16px;
  font-weight: 400;
}

.utp__buttons {
  flex-direction: column;
}

.btn {
  width: 100%;
  min-width: 250px;
  padding: 15px 25px;
  font-size: 14px;
  max-width: auto;
}

.utp .btn_primary {
  margin-top: 40px;
}

.utp__buttons .btn_secondary {
  display: inline-block;
  margin-top: 15px;
  text-align: center;
}

.devices {
  background: linear-gradient(179.07deg, rgba(224, 224, 224, 0.55) 0.8%, rgba(196, 196, 196, 0) 117.22%);
}

.devices__title {
  margin-bottom: 30px;
}

.device__item {
  display: flex;
  align-items: center;
}

.device__icon {
  height: 64px;
  width: 64px;
  background-image: url(../images/device_icons.png);
  margin-right: 10px;
}

.fridge {
  background-position: 0 0;
}

.washmachine {
  background-position: -64px 0;
}

.dryer {
  background-position: -128px 0;
}

.microwave {
  background-position: -192px 0;
}

.pannel {
  background-position: -256px 0;
}

.vacuum {
  background-position: -320px 0;
}

.combine {
  background-position: -384px 0;
}

.tv {
  background-position: -448px 0;
}    

.boyler {
  background-position: -512px 0;
}

.heating {
  background-position: -576px 0;
}

.device__title {
  margin-bottom: 30px;
}

.device__title,
.device__list {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

.device__item {
  margin-bottom: 15px;
}

.devices .btn_primary {
  margin-top: 20px;
}

.waranty {
  position: relative;
  background-image: linear-gradient( 180deg, rgba(224, 224, 224, 0.5) 0%, rgba(242, 242, 242, 0) 100%);
}

.waranty:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../images/waranty_bg.svg') no-repeat;
}

.waranty__description {
  font-size: 14px;
}

.waranty:after {
  background-position: 90% 80px;
  z-index: -1;
}

.waranty__list {
  margin-top: 30px;
}

.waranty__item {
  display: flex;
  margin-top: 20px;
}

.waranty__icon {
  margin-top: 3px;
  margin-right: 10px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--gray7);
}

.waranty .btn_primary {
  margin-top: 50px;
}

.sattv {
  background-color: var(--secndary-default);
}

.sattv__description {
  font-size: 14px;
}

.sattv__list {
  margin-top: 30px;
}

.sattv__item {
  display: flex;
  margin-top: 20px;
}

.sattv__icon {
  margin-top: 3px;
  margin-right: 10px;
  min-width: 13px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--gray7);
}

.sattv__providers {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.sattv__buttons .btn_details {
  margin-top: 20px;
}

.sattv__buttons .btn_actions {
  margin-top: 30px;
}

section {
  padding: 70px 20px 100px;
}

.contacts {
  color: white;
}

.contacts {
  position: relative;
  background-image: linear-gradient( 180deg, #323232 0%, rgba(31, 31, 31, 0.92) 50%, rgba(0, 0, 0, 0.59) 100%);
  padding-bottom: 100px;
}

.contacts::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../images/footer_bg.jpg);
  z-index: -1;
}

.contacts__title {
  margin-top: 30px;
}

.contacts__address {
  margin-top: 20px;
}

.contacts__phone {
  margin-top: 40px;
}

.contacts__phone-link {
  color: white;
}

.contacts__hours {
  margin-top: 40px;
}

.hours__title {
  padding-bottom: 7px;
}

.contacts__hours>div {
  padding-top: 5px;
}

.contacts__map {
  margin-top: 45px;
}

.contacts__address,
.contacts__phones-list,
.contacts__hours {
  font-size: 16px;
}

.popup {
  position: fixed;
  z-index: var(--z-index-popup);
}

.popuped .popup {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.popuped .wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000e0;
  height: 100%;
  width: 100%;
}

.popuped .popup__form {
  position: relative;
  display: flex;
  padding: 30px 10px;
  flex-direction: column;
  border: 1px solid gray;
  background-color: #fff;
  font-size: 16px;
}

.popup__title {
  margin-bottom: 20px;
  text-align: center;
}

.input {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 15px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}