.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  border: 1px solid var(--primary-default);
  padding: 10px 10px;
  text-decoration: none;
  color: var(--dark-section-text);
}
.menu_icon {
  position: relative;
  box-sizing: border-box;
  border: 1px solid var(--primary-default);
  width: 40px;
  height: 40px;
  padding: 7px 0 0;
  border-radius: 8px;
}
.menu_icon .menu_line {
  display: block;
  margin: 5px auto;
  height: 2px;
  width: 80%;
  border-radius: 1px;
  background-color: greenyellow;
}
.header {
  display: grid;
  grid-template-columns: repeat(3, auto);
}
.logo {
  grid-column: 1;
  grid-row: 1;
}
.navigation {
  grid-column: 3;
  grid-row: 1;
  width: 40px;
}
.header__contacts {
  grid-column: 2;
  grid-row: 1;
}

.header .header__contacts a {
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-section-text);
}
.nav__list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
}
.nav__list .nav__item a {
  display: block;
  box-sizing: border-box;
}
.navigation ul {
  position: absolute;
  flex-direction: column;
  padding: 3px 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 3px 0;
  animation: close-menu 300ms linear forwards;
}
.navigation ul.close {
  animation: open-menu 300ms linear forwards;
}
.navigation .nav__item {
  min-height: 42px;
  margin-top: -2px;
}

@media (max-width: 600px) {
  .menu_icon {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    padding: 7px 0 0;
    border-radius: 8px;
  }
  .menu_icon .menu_line {
    display: block;
    margin: 5px auto;
    height: 2px;
    width: 80%;
    border-radius: 1px;
  }
  .navigation {
    grid-column: 3;
    grid-row: 1;
    width: 40px;
  }
  .nav__list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .nav__list .nav__item a {
    display: block;
    box-sizing: border-box;
    width: 100vw;
  }

  .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    padding: 3px 0;
    animation: close-menu 180ms linear forwards;
  }
  .navigation ul.close {
    animation: open-menu 180ms linear forwards;
  }
  .navigation .nav__item {
    min-height: 42px;
    margin-top: -2px;
  }
}

@media (min-width: 901px) {
  .nav__list .item:not(:last-child) {
    margin-right: 10px;
  }
}

@media (max-width: 900px) {
  .menu_icon {
    display: block;
    position: relative;
    box-sizing: border-box;
    border: 1px solid var(--primary-default);
    width: 40px;
    height: 40px;
    padding: 7px 0 0;
    border-radius: 8px;
  }
  .menu_icon .menu_line {
    display: block;
    margin: 5px auto;
    height: 2px;
    width: 80%;
    border-radius: 1px;
    background-color: var(--primary-default);
  }
  .header {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
  .logo {
    grid-column: 1;
    grid-row: 1;
  }
  .navigation {
    grid-column: 3;
    grid-row: 1;
    width: 40px;
  }
  .header__contacts {
    grid-column: 2;
    grid-row: 1;
  }

  .header .header__contacts a {
    font-size: 16px;
    font-weight: 400;
  }
  .nav__list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
  }
  .nav__list .nav__link {
    display: block;
    box-sizing: border-box;
  }
  .navigation ul {
    position: absolute;
    flex-direction: column;
    padding: 3px 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 3px 0;
    animation: close-menu 300ms linear forwards;
  }
  .navigation ul.close {
    animation: open-menu 300ms linear forwards;
  }
  .navigation .nav__item {
    min-height: 42px;
    margin-top: -2px;
  }
}

@media (max-width: 600px) {
  .menu_icon {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    padding: 7px 0 0;
    border-radius: 8px;
  }
  .menu_icon .menu_line {
    display: block;
    margin: 5px auto;
    height: 2px;
    width: 80%;
    border-radius: 1px;
  }
  .navigation {
    grid-column: 3;
    grid-row: 1;
    width: 40px;
  }
  .nav__list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .nav__list .nav__item a {
    display: block;
    box-sizing: border-box;
    width: 100vw;
  }

  .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    padding: 3px 0;
    animation: close-menu 180ms linear forwards;
  }
  .navigation ul.close {
    animation: open-menu 180ms linear forwards;
  }
  .navigation .nav__item {
    min-height: 42px;
    margin-top: -2px;
  }
}

/* animations */
@keyframes close-menu {
  0% {
    top: -100%;
    bottom: 100%;
  }
  100% {
    top: 0;
    bottom: 0;
  }
}

@keyframes open-menu {
  0% {
    top: 0;
    bottom: 0;
  }
  100% {
    top: -100%;
    bottom: 100%;
  }
}