@import "./main-menu.css";
.utp {
    background: url(/assets/utp-bg.jpg) 70% 50%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color: #0d0405cc;
}

.header .contacts {
    display: flex;
    flex-direction: column;
}

.header .contacts a {
    color: var(--dark-section-text);
    font-size: 18px;
}

@media (max-width: 600px) {
    .utp {
        background: #090100 url(/assets/utp-bg-768w.jpg) 50% 100% no-repeat;
        background-size: cover;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 10px 45px;
    }
    .company {
        color: var(--dark-section-text);
        margin: 20px 0 40px;
        font-size: 14px;
    }
    .utp__title {
        color: var(--dark-section-text);
        text-shadow: 0 0px 15px black;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 0.9px;
    }
    .utp__title__lvl1 {
        font-size: 24px;
        font-weight: 700;
    }
    .utp__title__lvl2 {
        font-size: 16px;
    }
    .utp__title__lvl3 {
        font-size: 14px;
        font-weight: 500;
    }
    .header {
        display: grid;
        grid-template-columns: repeat(3, auto);
    }
    .logo {
        grid-column: 1;
        grid-row: 1;
    }
    .contacts {
        grid-column: 2;
        grid-row: 1;
    }
    .header .contacts a {
        font-size: 16px;
        font-weight: 400;
    }
    .btn {
        width: 100%;
        max-width: 350px;
        padding: 15px 25px;
        font-size: 14px;
        max-width: auto;
    }
    .utp .btn_primary {
        margin-top: 20px;
    }
    .utp__buttons .btn_secondary {
        margin-top: 15px;
    }
}

.devices {
    background: linear-gradient( 179.07deg, rgba(224, 224, 224, 0.55) 0.8%, rgba(196, 196, 196, 0) 117.22%);
}

.device__item {
    display: flex;
    align-items: center;
}

.device__icon {
    height: 64px;
    width: 64px;
    background-image: url(../assets/device_icons.png);
    margin-right: 10px;
}

.pannel {
    background-position: -256px 0;
}

.combine {
    background-position: -192px 0;
}

.dryer {
    background-position: -128px 0;
}

.washmachine {
    background-position: -64px 0;
}

.fridge {
    background-position: 0 0;
}

.tv {
    background-position: 64px 0;
}

.microwave {
    background-position: 128px 0;
}

.vacuum {
    background-position: 256px 0;
}

@media (max-width: 600px) {
    .device__title {
        margin-bottom: 30px;
    }
    .device__title,
    .device__list {
        max-width: 375px;
        margin-left: auto;
        margin-right: auto;
    }
    .device__item {
        margin-bottom: 15px;
    }
    .devices .btn_primary {
        margin-top: 20px;
    }
}

.waranty {
    position: relative;
    background-image: linear-gradient( 180deg, rgba(224, 224, 224, 0.5) 0%, rgba(242, 242, 242, 0) 100%);
}

.waranty:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../assets/waranty_bg.svg") no-repeat;
}

.waranty__description {
    font-size: 14px;
}

@media (max-width: 600px) {
    .waranty:after {
        background-position: 90% 80px;
        z-index: -1;
    }
    .waranty__list {
        margin-top: 30px;
    }
    .waranty__item {
        display: flex;
        margin-top: 20px;
    }
    .waranty__icon {
        margin-top: 3px;
        margin-right: 10px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: #c4c4c4;
    }
    .waranty .btn_primary {
        margin-top: 50px;
    }
}

.sattv {
    background-color: #f2f2f2;
}

.sattv__description {
    font-size: 14px;
}

@media (max-width: 600px) {
    .sattv__list {
        margin-top: 30px;
    }
    .sattv__item {
        display: flex;
        margin-top: 20px;
    }
    .sattv__icon {
        margin-top: 3px;
        margin-right: 10px;
        min-width: 13px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: #c4c4c4;
    }
    .sattv__providers {
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
    }
    .sattv__buttons .btn_details {
        margin-top: 20px;
    }
    .sattv__buttons .btn_actions {
        margin-top: 30px;
    }
    section {
        padding: 70px 20px 100px;
    }
}

.contacts {
    color: white;
}

@media (max-width: 600px) {
    .contacts {
        position: relative;
        background-image: linear-gradient( 180deg, #323232 0%, rgba(31, 31, 31, 0.92) 50%, rgba(0, 0, 0, 0.59) 100%);
    }
    .contacts::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(../assets/footer_bg.jpg);
        z-index: -1;
    }
    .contacts__title {
        margin-top: 30px;
    }
    .contacts__address {
        margin-top: 20px;
    }
    .contacts__phone {
        margin-top: 40px;
    }
    .contacts__phone-link {
        color: white;
    }
    .contacts__hours {
        margin-top: 40px;
    }
    .hours__title {
        padding-bottom: 7px;
    }
    .contacts__hours>div {
        padding-top: 5px;
    }
    .contacts__map {
        margin-top: 45px;
    }
    .contacts__address,
    .contacts__phones-list,
    .contacts__hours {
        font-size: 16px;
    }
}

.popup {
    position: fixed;
}

.popuped .popup {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.popuped .wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000e0;
    height: 100%;
    width: 100%;
}

.popuped .popup__form {
    position: relative;
    display: flex;
    padding: 30px 10px;
    flex-direction: column;
    border: 1px solid gray;
    background-color: #fff;
    font-size: 16px;
}

.popup__title {
    margin-bottom: 20px;
    text-align: center;
}

.input {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 15px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

body.popuped {
    overflow: hidden;
}