* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

body {
  font-family: "Roboto";
  margin: 0;
}

/* .section-wrapper {
  max-width: 990px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}*/
.lower-case {
  text-transform: lowercase;
}
button {
  background: transparent;
  border: none;
  padding: 0;
}
.btn_primary {
  background: var(--primary-accent);
  border: 1px solid var(--primary-accent-border);
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--dark-section-text);
}
.btn_secondary {
  border: 1px solid var(--secondary-accent-border);
  background: rgba(255, 255, 255, 0.72);
  box-sizing: border-box;
  color: #4A4A4A;
}
.btn_positive {
  background-color: #6fcf97;
}


@media (max-width: 600px) {
  .content {
    max-width: 375px;
    margin: auto;
  }
}
/*.utp__content {
  line-height: 1.3;
  margin-top: 90px;
  color: var(--dark-section-text);
}
.utp__title .lvl1 {
  font-size: 72px;
  letter-spacing: 3px;
}
.utp__title .lvl2 {
  font-size: 32px;
  letter-spacing: 3px;
}
.utp__title .lvl3 {
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 2px;
}

.utp__buttons {
  margin-top: 45px;
}

.utp__buttons .btn_primary {
  margin-right: 20px;
} */





/* @media (max-width: 1800px) {} */
/* @media (max-width: 1200px) {} */

/* @media (max-width: 900px) {
  .utp {
    background: url(/assets/utp-bg.jpg) no-repeat;
    margin: 0 auto;
    padding: 0 20px;
  }
  .header {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
  .logo {
    grid-column: 1;
    grid-row: 1;
  }
  .contacts{
    grid-column: 2;
    grid-row: 1;
  }
  .header .contacts a {
    font-size: 16px;
    font-weight: 400;
  }
} */